<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/service.js"></script>
<script src="js/controller.js"></script>
<script src="js/constants.js"></script>

<link rel="stylesheet" type="text/css" href="css/styles.css" />

<title>Teste Zup</title>
</head>
<body ng-controller="Controller" ng-app="app">

	<form ng-submit="addNewModel()">
		<h2>Add a new model</h2>
		<table>
			<tr>
				<td>Name</td>
				<td><input type="text" ng-model="modelName" /></td>
			</tr>
		</table>
		<h3>Add fields</h3>
		<table>
			<tr>
				<td>Field</td>
				<td><input type="text" ng-model="fieldName"/></td>
				<td>Type</td>
				<td><select ng-options="item for item in types" ng-model="fieldType"></select></td>
				<td><input type="checkbox" ng-model="notNull"/></td>
				<td>Not null?</td>
				<td><input type="button" value="Add" ng-click="addType()"/></td>
			</tr>
		</table>
		<br/>
		<table class="tb-type" ng-if="fields.length > 0">
			<tr>
				<th>Name</th>
				<th>Type</th>
				<th>Action</th>
			</tr>
			<tr ng-repeat="field in fields">
				<td class="tb-default-col">{{ field.fieldName }}</td>
				<td class="tb-default-col">{{ field.fieldType }}</td>
				<td class="tb-small-col tb-align-content"><input ng-click="removeField($index)" type="button" value="Remove" /></td>
			</tr>
		</table>
		<span ng-if="fields.length == 0">There are no fields.</span>
		<br/>
		<table>
			<tr>
				<td colspan="2"><input type="submit" value="Submit" /></td>
				<td>{{result}}</td>
			</tr>
		</table>
	</form>

</body>
</html>